Flask==3.0.3
Flask-Cors==4.0.1
SQLAlchemy==2.0.31
psycopg2-binary==2.9.9
werkzeug==3.0.3
gunicorn==22.0.0
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.0
xgboost==2.0.3
pyod==2.0.0
shap==0.45.1
joblib==1.4.2
pgvector==0.2.5
sentence-transformers==3.0.0
google-generativeai==0.5.4
